<app-navigation></app-navigation>

<header id="hero-overlay" class="hero-overlay apart wf-section">
  <div class="centered-container">
    <h2 class="headline white">about our uniqueness</h2>
    <p class="large-body">What sets Triple Lotus apart?</p>
  </div>
</header>

<div class="no-overflow-wrapper">
  <div class="section">
    <div class="container"
      style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
      <div>
        <div>
          <h1 class="no-margin">What Sets Us Apart</h1>
          <ul role="list" class="check-list">
            <li class="check-item">
              <div class="fa-solid">
                <!-- <div></div> -->
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div>
                <div class="heavy-body">Qualified, professional tutors</div>
                <div class="top-margin-5">Our tutors are qualified professionals, graduates and excelling university
                  students that have gone through a rigorous selection process and high academic requirements to ensure
                  top quality and an excellent tutoring experience. Our tutors are well trained and governed by our
                  tutor code of conduct that ensures that they act in the best interest of the learner. In any event
                  that you are dissatisfied with tutor performance you will be assigned to a different tutor at no
                  additional cost, this will give you the opportunity find what best works for you.</div>
              </div>
            </li>
            <li class="check-item">
              <div class="fa-solid">
                <!-- <div></div> -->
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div>
                <div class="heavy-body">We understand our students</div>
                <div class="top-margin-5">We understand that each student has a different way of absorbing knowledge.
                  Our services cater for a variety subjects and learning needs, you are sure to find what best suit you.
                  Through our home assistance the student gets personalized assistance specifically tailored according
                  to the student’s pace and learning style. Our online tutoring program allows you to connect with one
                  of the best tutors in the country without any geographical barriers or need for physical contact,
                  basically you are spoilt for choice. Sunday classes these are group classes for grade 10-12 for Math,
                  Science and Commercial subjects, these classes incorporate bridging programs, mentorship programs and
                  career guidance programs.</div>
              </div>
            </li>
            <li class="check-item">
              <div class="fa-solid">
                <!-- <div></div> -->
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div>
                <div class="heavy-body">Passionate about our students' success</div>
                <div class="top-margin-5">We are passionate about helping students reach their maximum academic
                  potential and we won’t stop at anything to achieve just that.</div>
              </div>
            </li>
          </ul>
        </div><img
          src="https://assets.website-files.com/5e854f4752b076440d1148b5/5e9bb7e988adf7f2dab40d18_WhatsApp%20Image%202020-04-18%20at%2022.09.20.jpeg"
          srcset="https://assets.website-files.com/5e854f4752b076440d1148b5/5e9bb7e988adf7f2dab40d18_WhatsApp%20Image%202020-04-18%20at%2022.09.20-p-1080.jpeg 1080w, https://assets.website-files.com/5e854f4752b076440d1148b5/5e9bb7e988adf7f2dab40d18_WhatsApp%20Image%202020-04-18%20at%2022.09.20.jpeg 1200w"
          sizes="(max-width: 479px) 86vw, (max-width: 767px) 83vw, (max-width: 991px) 87vw, 97vw" alt=""
          class="unique-image">
      </div>
    </div>
    <div class="bg-lotus right-side w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="1366.434" height="826.301"
        viewBox="0 0 1366.434 826.301">
        <g id="Group_20" data-name="Group 20" transform="translate(-3473.502 1346.813)" opacity="0.46">
          <path id="Path_5" data-name="Path 5"
            d="M3620.112-799.015s-208.791,60.454-398.756,203.161S2941.5-243.721,2941.5-243.721s199.927-131.355,341.938-188.114,226.107-38.92,226.107-38.92,51.126-68.055,78.767-150.12S3620.112-799.015,3620.112-799.015Z"
            transform="translate(1219.825 -354.5)" fill="#e8e8e8"></path>
          <path id="Path_9" data-name="Path 9"
            d="M2941.5-799.015s208.789,60.454,398.756,203.161,279.853,352.134,279.853,352.134-199.928-131.355-341.94-188.114-226.106-38.92-226.106-38.92-51.126-68.055-78.767-150.12S2941.5-799.015,2941.5-799.015Z"
            transform="translate(531.999 -354.5)" fill="#e8e8e8"></path>
          <path id="Path_6" data-name="Path 6"
            d="M2804.833-899.1s-23.7,26.553-37.067,97.657-16.4,186.759-16.4,186.759,120.288,79.3,213.133,189.61,158.247,251.626,158.247,251.626,40.63-123.318,141.138-239.508,214.559-192.462,214.559-192.462.678-87.142-13.044-160.741-41.842-133.654-41.842-133.654S3309.723-776.352,3229.1-646.619s-112.055,287.124-112.055,287.124-27.872-164.8-125.172-306.584S2804.833-899.1,2804.833-899.1Z"
            transform="translate(1038.113 -447)" fill="#e8e8e8"></path>
          <path id="Path_7" data-name="Path 7"
            d="M606.846,11.78S526.252-22.408,339.287,25.7,0,188.437,0,188.437s225.416,83.3,400.07,44.125S598.394,58.587,606.846,11.78Z"
            transform="matrix(0.998, -0.07, 0.07, 0.998, 4161.747, -762.958)" fill="#e8e8e8"></path>
          <path id="Path_8" data-name="Path 8"
            d="M606.845,231.259s-80.594,34.188-267.558-13.92S0,54.6,0,54.6,225.416-28.7,400.07,10.477,598.394,184.452,606.845,231.259Z"
            transform="matrix(-0.998, -0.07, 0.07, -0.998, 4134.738, -520.511)" fill="#e8e8e8"></path>
        </g>
      </svg></div>
  </div>
</div>

<!-- start whatsapp components -->
<app-whatsapp></app-whatsapp>
<!-- end of whatsapp components -->

<app-footer></app-footer>
