<app-navigation></app-navigation>

<header id="hero-overlay" class="hero-overlay mission wf-section">
  <div class="centered-container">
    <h2 class="headline white">about Our Mission</h2>
    <p class="large-body">Emerge. Flourish. Be Lotus.</p>
  </div>
</header>

<div class="section">
  <div class="container"
    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
    <div class="w-layout-grid grid">
      <div>
        <h1 class="headline smaller no-margin">our mission</h1>
        <p>Just like a lotus flower that begins its journey from the bottom of a muddy, murky pool, slowly emerges
          toward the surface and then bursting out of the water into a beautiful flower. Triple Lotus is determined to
          assist students to penetrate through any hard soils of academic trials. We seek to unlock every student’s
          maximum academic potential by nurturing every child’s learning abilities into a success no matter how murky
          the child’s academic struggles.</p>
      </div>
      <div class="flex ver-center"><img
          src="https://assets.website-files.com/5e854f4752b076440d1148b5/5e93e956961046e2e07e1087_jay-castor-7AcMUSYRZpU-unsplash.jpg"
          height="300" alt="" class="mission-image"></div>
    </div>
  </div>
</div>

<!-- start whatsapp components -->
<app-whatsapp></app-whatsapp>
<!-- end of whatsapp components -->

<app-footer></app-footer>
