<div class="content">
  <table class="main">

    <!-- START MAIN CONTENT AREA -->
    <tr>
      <td class="wrapper">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <h1>Email Confirmation</h1>
              <h6>Thank you for registering, please check your email for more.</h6>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <!-- END MAIN CONTENT AREA -->
  </table>

  <!-- END CENTERED WHITE CONTAINER -->
</div>
